@media print {
    @page {
        size: landscape
    }
}

.page {
    page-break-after: always;
    width: calc(100% - 25pt);
    height: 100%;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 30pt !important;
}

.monsterBox>textarea {
    width: calc(100% - 0.5pt);
    height: calc(100% - 0.5pt);
    margin-left: -0.5pt;
}

.monsterBox>button,
.control {
    display: none;
}

input[type=text],
textarea {
    border: none;
}